<section>
  <div class="fs-6">Help Center</div>

  <div class="d-flex align-items-center justify-content-between cursor mt-4" (click)="toNext()">
    <div class="d-flex align-items-center my-3">
      <div class="circle-1 text-center">
        <mat-icon>phonelink_setup</mat-icon>
      </div>
      <div class="fs-6 ms-3">App Usage Problem</div>
    </div>

    <mat-icon>keyboard_arrow_right</mat-icon>
  </div>
  <mat-divider></mat-divider>
  <div class="d-flex align-items-center justify-content-between cursor" (click)="toNext()">
    <div class="d-flex align-items-center my-3">
      <div class="circle-2 text-center">
        <mat-icon>important_devices</mat-icon>
      </div>
      <div class="fs-6 ms-3">Features</div>
    </div>

    <mat-icon>keyboard_arrow_right</mat-icon>
  </div>
  <mat-divider></mat-divider>
  <div class="d-flex align-items-center justify-content-between cursor" (click)="toNext()">
    <div class="d-flex align-items-center my-3">
      <div class="circle-3 text-center">
        <mat-icon>devices_other</mat-icon>
      </div>
      <div class="fs-6 ms-3">Lock Installation</div>
    </div>

    <mat-icon>keyboard_arrow_right</mat-icon>
  </div>
  <mat-divider></mat-divider>
  <div class="d-flex align-items-center justify-content-between cursor" (click)="toNext()">
    <div class="d-flex align-items-center my-3">
      <div class="circle-4 text-center">
        <mat-icon>warning</mat-icon>
      </div>
      <div class="fs-6 ms-3">Normal Trouble shooting</div>
    </div>

    <mat-icon>keyboard_arrow_right</mat-icon>
  </div>
  <mat-divider></mat-divider>
</section>
