<section class="d-flex flex-column">
  <div class="header d-flex align-items-center justify-content-between mb-3">

    <div></div>
    <div class="fs-6">My devices</div>


    <div class="d-flex align-items-center" >
      <button mat-icon-button class="me-2 return-link-wrap">
        <mat-icon>add_circle_outline</mat-icon>
      </button>
    </div>
  </div>

  <div class="d-flex flex-column">
    <div class="mt-4">
      <div class="document d-flex justify-content-between">
        <div class="circle ms-3" style="color: skyblue;">
          <mat-icon>settings_bluetooth</mat-icon>
        </div>

        <div class="d-flex flex-column justify-content-start align-items-center me-3">
          <div class="fs-6 my-2">BT01191918898</div>
          <div class="fs-6 my-2">Connectable</div>
          <div class="d-flex fs-6 my-2">
            <mat-icon>bluetooth_searching</mat-icon>
            <div class="fs-6 ms-3">Bluetooth</div>
          </div>
          <div class="d-flex">
            <mat-icon class="cursor mx-2">notifications</mat-icon>
      <mat-icon class="cursor mx-2">share</mat-icon>
      <mat-icon class="cursor mx-2">settings</mat-icon>
          </div>
        </div>


      </div>
    </div>




  </div>

  <div class="mt-auto">
    <div class="d-flex align-items-center justify-content-between">
      <mat-icon class="cursor" style="color: skyblue;">perm_device_information</mat-icon>
      <mat-icon class="cursor">people</mat-icon>
      <mat-icon class="cursor">message</mat-icon>
      <mat-icon class="cursor">person_pin</mat-icon>
    </div>
  </div>
</section>


